/* CSS */

html, body{
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
}

html{
	background-color: #e5e5e5;
}
body {
	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  }

  
#mapid{
	margin: 0px; padding: 0px;
	width: 480px; height: 320px;
	background-color: gray;
}


header {
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 40px;
	box-sizing: border-box;
	background-color: darkgray;
	background: #EEE;
	height: 106px;

  }
  #header.scroll {
	position: fixed;
	background: #EEE;
	animation-name: anime;
	animation-duration: 0.3s;
	opacity: 0.5;

  }
  @keyframes anime {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 0.8;
	}
	
  }
  .navi{
	background-color:bisque;
	display: flex;
justify-content: space-around;
}
img{
	width: 600px;
	background-color: aqua;
}











.footer05 {
	color: #808080;
	background: #e5e5e5;
	padding: 30px;
	background-color:#c4c4c4
   }
   .footer05 a {
	color: #808080;
	text-decoration: none;
   }
   .footer05 li a:hover {
	text-decoration: underline;
   }
   .footer05 .wrap {
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
   }
   .footer05 .wrap h3 {
	margin: 0 0 10px 0;
	padding: 0;
	border-bottom: 1px #c4c4c4 solid;
   }
   .footer05 .wrap p {
	margin: 0;
	padding: 0 0 20px 0;
   }
   .footer05 .wrap .box {
	width: 22%;
   }
   .footer05 .wrap .box ul {
	margin: 0;
	padding: 0 0 20px 0;
	list-style: none;
   }
   .footer05 .wrap .copyright {
	width: 100%;
	padding: 20px 0 0 0;
   }
   
   @media only screen and (max-width: 599px) {
   .footer05 .wrap {
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
   }
   .footer05 .wrap h3 {
	border: none;
   }
   .footer05 .wrap .box {
	width: 100%;
   }
   .footer05 .wrap .box ul {
	border-top: 1px #c4c4c4 solid;
   }
   .footer05 .wrap .box ul li a {
	display: block;
	padding: 5px 15px;
	border-bottom: 1px #c4c4c4 solid;
   }
   }




